<mjml>
  <mj-head>
    <mj-title>New {{ current_site.name }} projects</mj-title>
    <mj-attributes>
      <mj-all padding="0px"></mj-all>
      <mj-preview>These new projects were added to {{ current_site.name }} today:</mj-preview>
      <mj-text font-family="Ubuntu, Helvetica, Arial, sans-serif" padding="0 25px" font-size="13px"></mj-text>
      <mj-section background-color="#ffffff"></mj-section>
      <mj-class name="preheader" color="#000000" font-size="11px"></mj-class>

    </mj-attributes>
    <mj-style inline="inline">
      a {
        color: #5c4b7c !important;
        text-decoration: none !important;
      }
      body {
        margin-top: 20px;
      }
      p {
        font-size: 17px;
        line-height: 1.25em;
      }
      h1, h2, h3, h4, h5 {
        color: #5c4b7c;
      }
      .title {
        padding-bottom: 10px;
      }
      .description {
        padding-bottom: 20px;
        border-bottom: 1px solid #eee
      }
      .project-title {
          margin: 20px 0 10px 0;
          font-size: 1.7em;
      }
      .language {
        border: 1px solid #ddd;
        width: auto;
        align-self: baseline;
        padding: 2px 10px;
        color: #999;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 2em 1em;
      }
      .stars {
        font-size: 12px;
        padding: 2px 10px;
        background-color: #e5e0eb;
        border-radius: 1em .5em;
        white-space: nowrap;
        margin: 0 0 0 10px;
        color: #5c4b7c;
      }
      .project-title a {
      	font-weight: 700;
      }
      .signature {
        padding-top: 20px;
      }
    </mj-style>
  </mj-head>

  <mj-body background-color="#f3f3f3">
    <mj-section border-top="8px solid #5c4b7c">
      <mj-column width="100%">
        <mj-image href="https://{{ current_site.domain }}/" src="https://{{ current_site.domain }}/static/images/icons/android-chrome-192x192.png" width="120px" height="120px" padding="30px" alt="{{ current_site.name }} logo"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="20px" padding-top="10px">
      <mj-column>
        <mj-text>
          <h1 class="title" align="center">New projects on {{ current_site.name }}</h1>
          <p class="description">
            Hello, hero.<br> Projects are in need of aid, and you're the only one who can help. Here are the <a href="https://{{ current_site.domain }}{% url 'home' %}">projects</a> that joined {{ current_site.name }} today:
          </p>


          {% for project in projects %}
          <h4 class="project-title">
            <a href="https://{{ current_site.domain }}{{ project.get_absolute_url }}">
              {{ project.short_name }}
            </a>
            <span class="stars">★ {{ project.stars }}</span>
          </h4>

          {% if project.language %}
          <p><span class="language">{{ project.language }}</span></p>
          {% endif %}

          <p class="description">{{ project.description }}</p>
          {% endfor %}
            
          <p class="signature">We're counting on you!<br> The {{ current_site.name }} community
          </p>

        </mj-text>
        <mj-spacer height="30px" />
        <mj-text align="center" font-size="15px">
          <a href="https://twitter.com/code_shelter">Twitter</a> |
          <a href="https://mastodon.host/@codeshelter">Mastodon</a> |
          <a href="https://{{ current_site.domain }}/account/">Unsubscribe</a>
        </mj-text>
        <mj-spacer height="30px" />
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>