/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* main style */
:root {
  --normal-header-height: 40px;
  --small-header-height: 34px;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    color: #2D243C;
    background: white;
}

a {
    text-decoration: none;
    color: #BB98FB;
}

a:hover {
    text-decoration: underline;
}

.emoji {
    height: 20px;
}

.navbar {
    background: #5C4B7C;
    min-height: var(--normal-header-height);
    margin-bottom: 40px;
}

.navbar a {
    color: #fff;
}

.navbar-body {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: space-between;
    position: relative;
}
.navbar-body nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-body-brand {
    display: flex;
    align-items: center;
}
.navbar-body-brand img {
    width: var(--small-header-height);
    height: var(--small-header-height);
}
.navbar-body-brand span {
    margin-left: 5px;
}

.navbar-body-brand:hover {
    text-decoration: none;
}

.navbar-body-nav {
    align-items: center;
    display: flex;
}

.navbar-body nav a,
.navbar-body-nav a {
    text-align: center;
    display: block;
    margin: 0;
    flex-grow: 1;
    border: none;
    line-height: var(--normal-header-height);
    padding: 0 10px;
    flex-shrink: 0;
}
.navbar-body nav a:hover,
.navbar-body-nav a:hover {
    background-color: #A889E2;
    text-decoration: none;
}

.content .leader {
    margin: 0 auto 40px;
    text-align: center;
}

.content {
    max-width: 960px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #5C4B7C;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 22px;
    font-weight: 600;
}
h2.projects-header {
    margin: 0;
}
h2.header {
    color: hsla(261, 25%, 50%, 1);
    margin: -15px 0 20px;
}

p.note {
    background: hsla(263, 25%, 90%, 1);
    padding: 10px 20px;
    border-radius: 2em 1em;
}

.content-lead {
    font-size: 17px;
}

h3 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}

button {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 20px;
    color: #fff;
    border-radius: 4em 2em;
    background-color: #5C4B7C;
    transition: background-color .15s ease-in;
    border: 0;
}
button:hover {
    background-color: #A889E2;
}
footer {
    padding: 20px;
}
footer .icons {
    text-align: center;
    font-size: 200%;
}

footer .icons i {
    transition: color .15s ease-in;
    color: #aaa;
    margin: 0 10px;
}
footer .icons i:hover {
    color: #5C4B7C;
}

/*
Articles (FAQ, maintainer page etc)
*/
article p, article ol {
    font-size: 18px;
    line-height: 1.35;
}

/*
Landing page
*/
.landing {
    margin: 0 auto;
}

.landing > section {
    margin-bottom: 35px;
}

.landing .hero h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #5C4B7C;
    word-break: break-word;
    margin: 0 auto 30px;
}
.landing .hero .leader img {
    width: 120px;
    height: 120px;
    display: inline-block;
}
.landing .hero p {
    font-size: 20px;
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
}
.landing .hero p a {
    color: #2D243C;
    text-decoration: underline;
}
.landing .hero p a:hover {
    text-decoration: none;
}
.landing .actions {
    flex-direction: row;
    justify-content: space-around;
    align-items: self-start;
    align-content: center;
    justify-items: center;
    display: flex;
}
.landing .actions div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}
.landing .actions p {
    text-align: center;
    color: #555;
    font-size: 18px;
}
.landing .actions .button {
    padding: 15px 40px;
    background: #5C4B7C;
    display: flex;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: background-color .15s ease-in;
    flex-direction: column;
    text-align: center;
    white-space: nowrap;
}
.landing .actions .button.add-project {
    border-radius: 4em 1em;
}
.landing .actions .button.become-maintainer {
    border-radius: 1em 4em;
}
.landing .actions .button span {
    font-weight: bold;
    font-size: 23px;
}
.landing .actions .button:hover {
    background-color: #A889E2;
    text-decoration: none;
}
.landing .actions .maintainer {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.landing .actions .maintainer .login {
    margin-top: 15px;
}

.landing .more-information {
    flex-direction: row;
    display: flex;
    align-items: inherit;
    margin-bottom: 50px;
}
.landing .more-information section {
    padding: 10px;
    display: flex;
    box-sizing: border-box;
}
.landing .more-information div {
    padding: 30px;
    background: #fff;
    color: #2D243C;
    box-sizing: border-box;
    border-radius: 4em 1em;
    display: flex;
    align-items: center;
    box-shadow: 0 16px 48px rgba(187, 152, 251, 0.35);
    border: 1px solid rgba(187, 152, 251, 0.15);
}
.landing .more-information p {
    margin: 0;
    text-align: center;
    font-size: 17px;
    color: #666;
}
.landing .more-information p a {
    color: #666;
    text-decoration: underline;
}
.landing .more-information p a:hover {
    text-decoration: none;
}
.landing .maintainer-list .you {
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 2em 1em;
    border: 2px solid #A889E2;
    overflow: hidden;
}
.landing .maintainer-list .you a {
    width: 64px;
    height: 64px;
    background: none;
    border: none;
    color: #fff;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: #A889E2;
    box-sizing: border-box;
    transition: all .15s ease-in;
    cursor: pointer;
}
.landing .maintainer-list .you a:hover {
    text-decoration: none;
    background-color: #A889E2;
    color: #fff;
    border-radius: 0;
}
footer .faq {
    text-align: center;
    color: #555;
}
footer .faq p {
    font-size: 15px;
    line-height: 1.55em;
}
footer .faq a {
    color: #555;
    text-decoration: underline;
}
footer .faq a:hover {
    text-decoration: none;
}

.landing .maintainer-list {
    margin-bottom: 20px;
}
.landing .maintainer-list h2,
.landing .projects h2 {
    margin-bottom: 30px;
}
.landing .maintainer-list h2 a,
.landing .projects h2 a,
.landing .projects .more a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
    color: #fff;
    border-radius: 4em 2em;
    background-color: #5C4B7C;
    transition: background-color .15s ease-in;
}
.landing .maintainer-list h2 a:hover,
.landing .projects h2 a:hover,
.landing .projects .more a:hover {
    text-decoration: none;
    background-color: #A889E2;
}

.landing .projects .more {
    text-align: center;
}

.landing .maintainer-list ul {
    flex-wrap: wrap;
}
.landing .maintainer-list li {
    margin: 0 5px 20px 5px !important;
}
.landing .adopted-projects > li {
    margin: 0 0 25px;
}
.landing .adopted-projects > li p {
    margin-bottom: 0;
    min-height: auto;
    max-height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.landing .adopted-projects > li em {
    display: none;
}

h2 a,
p a {
    color: #5C4B7C;
    text-decoration: underline;
    transition: color .15s ease-in;
}
h2 a:hover,
p a:hover {
    text-decoration: none;
}

/*
Maintainer list
*/
article.maintainer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
}
article.maintainer-list figure {
    margin: 0;
    width: 25%;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 0 10px;
    align-items: normal;
}
article.maintainer-list figure > * {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article.maintainer-list figure img {
    display: flex;
    border-radius: 4em 2em;
    transform: scale(0.9);
    transition: all 0.15s ease-in;
    width: 100%;
}
article.maintainer-list figure > a:hover {
    text-decoration: none;
}
article.maintainer-list figure > a:hover img {
    border-radius: 2em 4em;
    transform: scale(0.95);
}
article.maintainer-list figure figcaption {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    transition: transform .15s ease-in;
    display: flex;
    max-width: 100%;
}
article.maintainer-list figure figcaption span {
    background: #5C4B7C;
    border-radius: 1em 10em;
    padding: 10px 30px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Adopted Projects */
.adopted-projects {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.adopted-projects > li {
    padding: 0 0 0 15px;
    border-left: 5px solid #ddd;
    margin: 25px 0;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.adopted-projects li h5 {
    margin: 0 0 10px;
    font-size: 18px;
}
.adopted-projects li h5 a {
    color: #5C4B7C;
    vertical-align: middle;
}
.adopted-projects li h5 span {
    font-size: 12px;
    margin-left: 5px;
    color: #5C4B7C;
    padding: 2px 10px;
    background-color: hsl(265, 23%, 90%);
    border-radius: 1em 0.5em;
    white-space: nowrap;
}
.adopted-projects li h5 a .fab {
    color: #333;
}
.adopted-projects li em {
    border: 1px solid #ddd;
    display: flex;
    width: auto;
    align-self: baseline;
    padding: 2px 10px;
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 2em 1em;
}
.adopted-projects li p {
    margin: 0 0 10px;
    flex: 1 1 auto;
    flex-grow: 0;
    min-height: 2.4em; /* 2xline-height */
}
.landing .maintainer-list ul,
.adopted-projects .maintainers {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}
.landing .maintainer-list ul {
    justify-content: space-between;
}
.landing .maintainer-list ul:after {
    content: '';
    flex: auto;
}
.landing .maintainer-list li,
.adopted-projects .maintainers li {
    position: relative;
    margin-right: 10px;
}
.adopted-projects .maintainers li {
    margin: 5px;
}
.landing .maintainer-list li span,
.adopted-projects .maintainers li span {
    position: absolute;
    background-color: #fff;
    color: #5C4B7C;
    box-shadow: 0px 3px 0px hsla(261, 25%, 90%, 1);
    box-sizing: border-box;
    border: 1px solid rgba(187, 152, 251, 0.15);
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 2em 1em;
    left: 50%;
    text-align: center;
    transform: translate3d(-50%, 0 , 0);
    display: none;
    z-index: 1;
}
.landing .maintainer-list li:hover span,
.adopted-projects .maintainers li:hover span {
    display: block;
}
.landing .maintainer-list img,
.adopted-projects .maintainers img {
    border-radius: 2em 1em;
    width: 64px;
    height: 64px;
}
.adopted-projects .maintainers .you form,
.adopted-projects .maintainers .you button {
    width: 64px;
    height: 64px;
}
.adopted-projects .maintainers .you button {
    background: none;
    border: none;
}
.adopted-projects .maintainers .you {
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 2em 1em;
    border: 2px solid #A889E2;
    overflow: hidden;
}
.adopted-projects .maintainers .you a,
.adopted-projects .maintainers .you button {
    color: #fff;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: #A889E2;
    box-sizing: border-box;
    transition: all .15s ease-in;
    cursor: pointer;
}
.adopted-projects .maintainers .you a:hover,
.adopted-projects .maintainers .you button:hover {
    text-decoration: none;
    background-color: #A889E2;
    color: #fff;
    border-radius: 0;
}

/* Maintained projects */
section.project-container {
    position: relative;
}
section.project-container > h2 {
    position: relative;
    left: 15px;
    top: 13px;
    background: #fff;
    display: inline-block;
    padding: 0 10px;
}
section.project-container:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 26px;
    border-radius: 3px;
}
section.project-container.available:before {
    background: hsla(261, 25%, 90%, 1);
}
section.project-container.maintained:before {
    background: hsla(261, 25%, 50%, 1);
}
section.project-container > ul {
    padding-top: 10px;
}
section.project-container > ul li.project {
    position: relative;
    border: none;
    padding-right: 5px;
}
section.project-container > ul li.project:before {
    content: '';
    background: hsla(261, 25%, 90%, 1);
    height: 100%;
    width: 5px;
    position: absolute;
    left: 0;
    border-radius: 1em 4em;
}

/* Messages */
ul.messages > li {
    list-style: none;
    text-align: center;
    background: #ffff9a;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 15px 20px;
    padding: 10px;
    border-radius: 4em 2em;
}

ul.messages > li.success {
    background: #c1ff9a;;
}

/* Burger icon */
[data-burger] {
    border: none;
    border-radius: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    vertical-align: middle;
    display: block;
    position: relative;
    transition: background-color .15s ease-in;
}

[data-burger] span {
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: #fff;
    border-radius: 3px;
    opacity: 1;
    left: 7px;
    transform: rotate(0deg);
    transition: all .15s ease-in;
    pointer-events: none;
}

[data-burger] span:nth-child(1) {
    top: 11px;
    transform-origin: left center;
}

[data-burger] span:nth-child(2) {
    top: 19px;
    transform-origin: left center;
}

[data-burger] span:nth-child(3) {
    top: 27px;
    transform-origin: left center;
}

[data-burger]:hover {
    background-color: #A889E2;
}
[data-burger][data-open='true'] span:nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
    left: 10px
}

[data-burger][data-open='true'] span:nth-child(2) {
    width: 0%;
    opacity: 0
}

[data-burger][data-open='true'] span:nth-child(3) {
    transform: rotate(-45deg);
    top: 29px;
    left: 10px
}

[data-burger-content] {
    display: none;
}
[data-burger-content][data-open='true'] {
    display: block;
    position: absolute;
    right: 20px;
    top: 40px;
    background: #5C4B7C;
    text-align: right;
    min-width: 151px;
    border-radius: 0 0 1em 4em;
    overflow: hidden;
    z-index: 99;
}
[data-burger-content] a {
    user-select: none;
    text-align: right;
    padding: 0 20px;
}
.navbar-body-nav a i,
[data-burger-content] a i {
    margin-right: 10px;
}

@media (max-width: 1000px) {

    .landing .more-information {
        flex-wrap: wrap;
        justify-content: center;
    }
    .landing .more-information section {
        width: 33%;
    }
    .landing .actions {
        flex-wrap: wrap;
    }
    .landing .actions > div {
        padding: 10px 30px;
    }
}

@media (max-width: 780px) {

    .landing .actions .button {
        padding: 10px 30px;
        font-size: 15px;
    }
    .landing .actions .button span {
        font-size: 20px;
    }

    .landing .more-information {
        box-shadow: 0 16px 48px rgba(187, 152, 251, 0.35);
        border: 1px solid rgba(187, 152, 251, 0.15);
        border-radius: 4em 1em;
        overflow: hidden;
        box-sizing: border-box;
    }
    .landing .more-information section {
        width: 100%;
    }
    .landing .more-information section > div {
        border: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(187, 152, 251, 0.15);
    }
    .landing .more-information section:last-child > div {
        border-bottom: none;
    }

    article.maintainer-list figure {
        width: 50%;
    }
    article.maintainer-list figure figcaption {
        font-size: 15px;
    }

    .adopted-projects > li {
        width: 100%;
    }
}

@media (max-width: 670px) {
    .navbar-body-brand span {
        display: none;
    }
}

@media (max-width: 600px) {

    .landing .actions {
        align-items: normal;
        flex-direction: column;
    }
    .landing .actions .add-project {
        margin-bottom: 30px;
    }
    .landing .actions .button {
        padding: 15px 40px;
        font-size: 20px;
    }
}

@media (max-width: 500px) {

    .navbar {
        min-height: var(--small-header-height);
    }
    .navbar-body nav a,
    .navbar-body-nav a {
        line-height: var(--small-header-height);
    }
    .landing .hero p {
        max-width: 100%;
    }
    .content .leader {
        margin: 0 auto 20px;
    }
    .landing .hero h1 {
        margin: 0 auto 20px;
    }

    .landing .more-information section {
        width: 100%;
    }
}

@media (max-width: 450px) {

    .navbar-body.single {
        justify-content: center;
        font-size: 12px;
    }

    article.maintainer-list figure {
        width: 100%;
    }
    .navbar-body nav .twitter,
    .adopted-projects li em {
        display: none;
    }
}

@media (max-width: 400px) {

    .navbar-body nav a,
    .navbar-body-nav a {
        padding: 0 5px;
    }

    section.project-container > ul li.project {
        padding-left: 10px;
        padding-right: 0;
    }
    .landing .adopted-projects > li {
        padding-left: 5px;
        padding-right: 0;
    }
    .adopted-projects li h5 a {
        font-size: 15px;
    }
    .landing .adopted-projects > li p {
        font-size: 14px;
    }

    .landing .actions .button {
        padding: 10px 30px;
        font-size: 15px;
    }

    [data-burger]:hover {
        background-color: transparent;
    }
    [data-burger-content][data-open='true'] {
        left: 0;
        right: 0;
        border-radius: 0;
        padding-bottom: 20px;
    }
    [data-burger-content][data-open='true'] a {
        text-align: center;
        padding: 0 30px;
    }
}

@media (max-width: 350px) {

    .navbar-body-nav {
        flex-direction: column;
    }
    .navbar nav {
        font-size: 12px;
    }
}

code {
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 0 8px;
}
