{% extends "base.html" %}

{% block title %}Account settings{% endblock %}

{% block content %}
<article class="page">
    <h1>Account settings</h1>

    <form method="POST" action="{% url "account" %}">{% csrf_token %}
        <p>
        By default, you will receive email notifications for new projects. The emails are rare and are only sent at most once
        per day, as a daily digest. If you would prefer not to receive this email, please uncheck the "receive
        notifications" box.
        </p>

        <p>
        You can also follow Code Shelter on <i class="fab fa-twitter"></i> <a
            href="https://twitter.com/code_shelter">Twitter</a> or <i class="fab fa-mastodon"></i> <a
            href="https://mastodon.host/@codeshelter">Mastodon</a> to stay informed of updates.
        </p>

        <p>
        {{ form.receive_notifications.label_tag }}
        {{ form.receive_notifications }}
        </p>

        <button type="submit">Submit</button>
    </form>
</article>
{% endblock %}
