{% extends "base.html" %}

{% block title %}Your maintainer dashboard{% endblock %}

{% block content %}

<h1>Hello, {% if request.user.is_maintainer %}maintainer{% else %}contributor{% endif %}.</h1>

<p class="note">If you haven't already done so, please <a href="https://codeshelter.zulipchat.com/">join our chat server</a>.</p>

{% if your_projects %}
<section class="project-container maintained">
    <h2 class="projects-header">Projects you maintain</h2>

    <ul class="adopted-projects">
    {% for project in your_projects %}
    {% include "project.html" %}
    {% endfor %}
    </ul>
</section>
{% endif %}

{% if other_projects %}
<section class="project-container available">
    <h2 class="projects-header">Available projects</h2>

    <ul class="adopted-projects">
    {% for project in other_projects %}
    {% include "project.html" %}
    {% endfor %}
    </ul>
</section>
{% endif %}

{% endblock %}
