{% load staticfiles %}

<header class="navbar">
<div class="navbar-body">
    {% if logo != False %}
    <a class="navbar-body-brand" href="{% url "index" %}">
        <img src="{% static "images/logo-nocircle.svg" %}"/>
        <span>{{ current_site.name }}</span>
    </a>
    {% endif %}

    {% if nav != False %}
    <nav>
        <a href="{% url "faq" %}">FAQ</a>
        <a class="twitter" href="https://twitter.com/code_shelter" title="Our Twitter account"><i class="fab fa-twitter"></i></a>
        <a class="twitter" href="https://mastodon.host/@codeshelter" title="Our Mastodon account"><i class="fab fa-mastodon"></i></a>
        <a class="twitter" href="https://codeshelter.zulipchat.com/" title="Our chat server"><i class="fas fa-comments"></i></a>
    </nav>
    {% endif %}

    {% if hamburger != False %}
    <a data-burger title="Toggle toolbar">
        <span></span>
        <span></span>
        <span></span>
    </a>

    <div data-burger-content class="navbar-body-nav">
        <a href="{% url "project-add" %}"><i class="fas fa-plus"></i>Add project</a>
        {% if request.user.is_authenticated %}
        <a href="{% url "home" %}"><i class="fas fa-table"></i>Dashboard</a>
        <a href="{% url "account" %}"><i class="fas fa-user"></i>Account</a>
        <a href="{% url "logout" %}"><i class="fas fa-sign-out-alt"></i>Log out</a>
        {% else %}
        <a href="{% url "social:begin" "github" %}"><i class="fas fa-sign-in-alt"></i>Login</a>
        {% endif %}
    </div>
    {% else %}
    <div class="navbar-body-nav">
    {% if request.user.is_authenticated %}
        <a href="{% url "home" %}"><i class="fas fa-table"></i>Dashboard</a>
    {% else %}
        <a href="{% url "social:begin" "github" %}"><i class="fas fa-sign-in-alt"></i>Member login</a>
    {% endif %}
    <div>
    {% endif %}

</div>
</header>
