{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block navbar %}{% include "navbar.html" with hamburger=False %}{% endblock %}

{% block content %}
<h1>Adopted projects</h1>

<h2 class="header">These are the projects that the shelter is taking care of.</h2>

<ul class="adopted-projects">
{% for project in projects %}
{% include "project.html" %}
{% endfor %}
</ul>
{% endblock %}
