<mjml>
  <mj-head>
    <mj-title>New {{ current_site.name }} projects</mj-title>
    <mj-attributes>
      <mj-all padding="0px"></mj-all>
      <mj-preview>These new projects were added to {{ current_site.name }} today:</mj-preview>
      <mj-text font-family="Ubuntu, Helvetica, Arial, sans-serif" padding="0 25px" font-size="13px"></mj-text>
      <mj-section background-color="#ffffff"></mj-section>
      <mj-class name="preheader" color="#000000" font-size="11px"></mj-class>

    </mj-attributes>
    <mj-style inline="inline">
      a {
        color: #5c4b7c !important;
        text-decoration: none !important;
      }
      body {
        margin-top: 20px;
      }
      p, ol li {
        font-size: 17px;
        line-height: 1.25em;
      }
      h1, h2, h3, h4, h5 {
        color: #5c4b7c;
      }
      .title {
        padding-bottom: 10px;
      }
      .description {
        padding-bottom: 20px;
        border-bottom: 1px solid #eee
      }
      .project-title {
          margin: 20px 0 10px 0;
          font-size: 1.7em;
      }
      .language {
        border: 1px solid #ddd;
        width: auto;
        align-self: baseline;
        padding: 2px 10px;
        color: #999;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 2em 1em;
      }
      .stars {
        font-size: 12px;
        padding: 2px 10px;
        background-color: #e5e0eb;
        border-radius: 1em .5em;
        white-space: nowrap;
        margin: 0 0 0 10px;
        color: #5c4b7c;
      }
      .project-title a {
      	font-weight: 700;
      }
      .signature {
        padding-top: 20px;
      }
    </mj-style>
  </mj-head>

  <mj-body background-color="#f3f3f3">
    <mj-section border-top="8px solid #5c4b7c">
      <mj-column width="100%">
        <mj-image href="https://{{ current_site.domain }}/" src="https://{{ current_site.domain }}/static/images/icons/android-chrome-192x192.png" width="120px" height="120px" padding="30px" alt="{{ current_site.name }} logo"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="20px" padding-top="10px">
      <mj-column>
        <mj-text>
          <h1 class="title" align="center">Welcome to {{ current_site.name }}</h1>
          <p>
            Hello, hero.
            <br/>
            Thank you for signing up to be a contributor. We appreciate your help,
            it's very much needed.
          </p>
          <p>
            Here's how you can start helping:
          </p>
          <ol>
            <li><a href="http://codeshelter.zulipchat.com/">Join our chat server</a>.
              This is important, as that is our main method of communication.
            </li>
            <li>Visit <a href="https://{{ current_site.domain }}{% url 'home' %}">your projects
              dashboard</a>, pick one or more projects you like and start commenting on issues,
              fixing bugs, adding features and submitting PRs.
            </li>
            <li>
              If you have extensive open source experience, please 
              <a href="https://codeshelter.zulipchat.com/#narrow/stream/150752-maintainer-applications">
              apply to become a maintainer</a>.
              Maintainers have commit access to repositories, but are otherwise identical to
              contributors.
              <br>
              If you don't want to become a maintainer, but need someone to merge your PRs
              or help with an issue, just
              <a href="https://codeshelter.zulipchat.com/#narrow/stream/186993-projects/topic/project-help">
              post in the relevant chat topic</a> and a maintainer will help out as soon as
              possible.
            </li>
          </ol>

          <p>
            That's pretty much it! If you have any questions or suggestions, please don't
            hesitate to open a chat topic about it.
          </p>
            
          <p>We're counting on you!<br> The {{ current_site.name }} community
          </p>

        </mj-text>
        <mj-spacer height="30px" />
        <mj-text align="center" font-size="15px">
          <a href="https://twitter.com/code_shelter">Twitter</a> |
          <a href="https://mastodon.host/@codeshelter">Mastodon</a> |
          <a href="https://{{ current_site.domain }}/account/">Unsubscribe</a>
        </mj-text>
        <mj-spacer height="30px" />
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>